.containerAdd{
    color: aliceblue;
    width: 750px;
    height: 442px;
    margin: 0px 20px 20px 20px;
    border: 1px solid rgba(255, 255, 255, 0.322);
}
.NavEdits{
    text-align:left;
    margin: 20px 0 0 20px ;
}
.btnNav{
    color: #fff;
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.322);
    border-bottom: none;
}
.btnNav:hover{
    color: antiquewhite;
}
.ContainerAddInfo{
    position: absolute;
    width: 371px;
    height: 440px;
    margin: none ;  
    border-right: 1px solid rgba(255, 255, 255, 0.322);
}
.ContainerAddInfo div{
    text-align: left;
    margin: 2em;
}
.campoAddItens{
    background-color: transparent;
    border-bottom: 1px solid rgba(0, 0, 0, 0.432);
    color: antiquewhite;
    margin-left: 10px;
    box-shadow: rgba(3, 15, 122, 0.514) 2px 0 3px ;
}
.btnMin{
    background-image: linear-gradient(100deg , rgb(37, 228, 78), rgb(17, 176, 182));
    color: #fff;
    border: none;
    font-size: 15px;
    border-radius: 6px;
    width: 80px;
    
}
.btnMin:hover{
    color: rgb(206, 224, 240);
}
.ContainerAddResu{
    position: absolute;
    width: 372px;
    height: 440px;
    right: 20px;
}
.containerCard{
    background-color: rgba(0, 0, 0, 0.295);
    margin: 15px 7px;
    width: 350px;
    border: 1px solid rgba(0, 0, 0, 0.342);
    border-radius: 0 0 15px 15px; 
    text-align: left;
    box-shadow: rgba(0, 0, 0, 0.596) 4px 4px 10px ;

}
.containerCard h1, p {
    margin-left: 20px;
}