body{
    background-image: linear-gradient(100deg , rgb(36, 107, 201), rgb(34, 117, 128));
}

header{
    position: absolute;
    background-color:#181D31;
    color: #E6DDC4;
    width: 100%;
    display: flex;
    left: 0;
    top: 4%;
    box-shadow: #181D31 10px 0 25px;

}
header h1 {
    font-size: 3em;
    margin: 2.5px;
}
header img {
    margin: 0 1% 0 2%;
    padding: auto;
}
header nav {
    position: absolute;
    top: 31%;
    right: 3%;
}
.buttonStyle {
    font-size: 1.3rem;
    margin: 0.23em;
    text-decoration: none;
    color: #E6DDC4;
    background-color: #198686;
    padding: 0.3em 1em;
    border-radius: 1em;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}
.buttonStyle:hover{
    color: rgb(206, 224, 240);
    background-color: #196386;
}
.container {
    position: absolute;
    background:#181d31a9;
    margin: none;
    border-radius: 20px;
    height: auto;
    width: auto;
    border: 2px solid rgba(0, 0, 0, 0.281);
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    box-shadow: #181D31 10px 10px 25px;
}
.containerLogin{
    margin: 50px;
    font-size: 2rem;
    color: #E6DDC4;

}
.containerRegistrarion{
    margin: 25px;
    font-size: 1.5rem;
    color: #E6DDC4;
}
.TextValue{
    text-align: center;
    margin: 10px;
    text-shadow: #181D31 5px 5px 5px;

}
.campoInfo, .bigcampoInfo{
    border: none;
    border-bottom: 1px solid #E6DDC4;
    background-color: transparent;
    outline: none;
    margin: 0 0 0 1em;
    color: #E6DDC4;
    font-size: 0.7em;
    margin-bottom: 20px;
    border-radius: 0  0 20px;
}
.bigcampoInfo{
    width: 400px;
}
.campoInfo:hover{
    background-color: #151a291f;
}
.linkA{
    font-size: 20px;
    color: #E6DDC4;
}
.linkA:hover{
    color: #196386;
}
.avatar{
    width: 90px;
    height: 70px;
    border-radius: 50%;
    position: absolute;
    top:-11%;
    left: calc(50% - 50px);
}
.containerProducts{
    position: absolute;
    background-color: #181d3156;
    height: 85%;
    width: 95%;
    margin-top: 110px;
    margin-left: 2%;
}
.containerProductsUnitario{
    background-color: rgba(0, 0, 0, 0.295);
    margin: 15px 7px;
    width: 350px;
    border: 1px solid rgba(0, 0, 0, 0.342);
    border-radius: 0 0 15px 15px; 
    text-align: left;
    box-shadow: rgba(0, 0, 0, 0.596) 4px 4px 10px ;
}
.containerProductsUnitario h1, p {
    margin-left: 20px;
}